.fit-box,
#strength {
    height: fit-content !important;
}

#header-section {
    background-image: url('/images/tech.jpg');
    background-position: top/right;
    background-size: cover;
    background-clip: padding-box;
}

#services {
    align-items: last baseline;
}

#partners li img {
    object-fit: contain;
}

#close-mark {
    position: fixed;
    right: 12px;
    top: 11px;
    color: #a6a6a6;
    fill: #a6a6a6;
}

@media screen and (max-width: 600px) {
    h2 {
        font-size: 14px;
    }
}

#mainLinks a {
    font-weight: 600;
}

#award-genius-bg {
    height: 250px !important;
}

#award-container {
    background: black;
    width: 200px;
    height: 200px;
    object-fit: contain;
}

.reward-box {
    align-items: normal;
    background: #00000052;
    backdrop-filter: blur(200px);
}

.text-integer {
    font-size: 35px !important;
    text-shadow: 2px 2px 1px #000;
}